<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrowCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <!-- testing the Categories array -->

    <div class="form-group">
      <input type="text" ng-model="narrowCtrl.searchTerm" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowCtrl.getItems()">Show Full Menu!</button>
      <button class="btn btn-success" ng-click="narrowCtrl.searchTermNewArray()">Narrow It Down For Me!</button>
    </div>
    <br><br><br>

    <p>{{narrowCtrl.newArray}}</p>
    <found-items controller-scope="narrowCtrl"></found-items>
    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->


  </div>

</body>
</html>
