<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<title>Hello Coursera</title>
</head>
<body>
	<h1>Hello Coursera</h1>
	<div ng-controller="MyFirstController">
		<!-- <input type="texts" 
		ng-model="name"
		ng-blur="upper();">
		Here is the name: {{name}} -->

		<div>
			<button ng-click="feedMe()">{{buttonText}}</button>
			<br>
			<img ng-src="{{stateOfBeing}}">
		</div>
	</div>

</body>
</html>